/* ==========================
   GOOGLE FONT
========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#f5edd7;

background-image:
linear-gradient(rgba(0,0,0,.05) 1px,transparent 1px),
linear-gradient(90deg,rgba(0,0,0,.05) 1px,transparent 1px);

background-size:40px 40px;

overflow-x:hidden;

}

/* ==========================
HOME
========================== */

#home{

display:flex;

min-height:100vh;

}

/* ==========================
SIDEBAR
========================== */

.sidebar{

width:280px;

background:rgba(255,255,255,.45);

backdrop-filter:blur(18px);

padding:28px;

display:flex;

flex-direction:column;

justify-content:space-between;

border-right:1px solid rgba(255,255,255,.4);

box-shadow:0 10px 35px rgba(0,0,0,.08);

flex-shrink: 0;



}

.logo-box{

display:flex;

align-items:center;

gap:15px;

margin-bottom:40px;

}

.logo-icon{

width:60px;
height:60px;

border-radius:50%;

background:white;

display:flex;

align-items:center;

justify-content:center;

font-size:30px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.logo-text h2{

font-size:34px;

font-weight:800;

}

.logo-text span{

color:#6c63ff;

}

.menu{

display:flex;

align-items:center;

gap:15px;

padding:18px;

border-radius:18px;

margin-bottom:12px;

cursor:pointer;

transition:.3s;

font-weight:600;

}

.menu span{

font-size:24px;

}

.menu:hover{

background:white;

transform:translateX(8px);

}

.menu.active{

background:#ede0ff;

color:#6a3cff;

}

/* ==========================
UPGRADE
========================== */

.upgrade{

padding:20px;

border-radius:20px;

background:linear-gradient(135deg,#6a7cff,#ff67bc);

color:white;

box-shadow:0 15px 30px rgba(0,0,0,.12);

margin-top:20px;

}

.upgrade h3{

margin-bottom:8px;

}

.upgrade p{

font-size:14px;

opacity:.9;

}

/* ==========================
DASHBOARD
========================== */

.dashboard{

flex:1;

padding:35px 45px;
display: flex;
flex-direction: column;

}

/* ==========================
TOPBAR
========================== */

.topbar{

display:flex;

justify-content:flex-end;

margin-bottom:30px;

}

.profile-icons{

display:flex;

align-items:center;

gap:18px;

}

.notify,

.avatar{

width:55px;

height:55px;

border-radius:18px;

background:white;

display:flex;

justify-content:center;

align-items:center;

font-size:24px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.logout-btn{

background:#ff5b63;

color:white;

border:none;

padding:15px 30px;

border-radius:16px;

cursor:pointer;

font-weight:700;

font-size:15px;

transition:.3s;

}

.logout-btn:hover{

transform:translateY(-4px);

}

/* ==========================
WELCOME
========================== */

.welcome{

display:flex;

justify-content:space-between;

align-items:center;

padding:40px;

background:#ffddea;

border-radius:28px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

margin-bottom:35px;

}

.welcome h1{

font-size:48px;

font-weight:800;

color:#111;

margin-bottom:12px;

}

.welcome p{

font-size:22px;

color:#555;

margin-bottom:25px;

}

.welcome button{

padding:16px 35px;

border:none;

border-radius:18px;

font-size:18px;

color:white;

cursor:pointer;

background:linear-gradient(90deg,#5b7cff,#cf47ff);

box-shadow:0 12px 25px rgba(98,88,255,.3);

}

.welcome-right{

font-size:120px;

}

/* ==========================
SECTION
========================== */

.section-title{

margin-bottom:25px;

font-size:34px;

font-weight:700;

}

/* ==========================
GRID
========================== */

.action-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

}

.full{

grid-column:1/3;

}

/* ==========================
CARDS
========================== */

.action-card{

display:flex;

align-items:center;

gap:20px;

padding:25px;

border-radius:24px;

cursor:pointer;

transition:.3s;

box-shadow:0 12px 30px rgba(0,0,0,.08);

position:relative;

}

.action-card:hover{

transform:translateY(-8px);

}

.circle{

width:75px;

height:75px;

border-radius:50%;

background:white;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.action-card h3{

font-size:28px;

margin-bottom:6px;

color:#111;

}

.action-card p{

font-size:17px;

color:#666;

}

.arrow{

position:absolute;

right:25px;

font-size:34px;

}

.pink{

background:#ffe0ef;

}

.blue{

background:#dfefff;

}

.yellow{

background:#fff0bf;

}

.green{

background:#d9ffe6;

}

.purple{

background:#e8dbff;

}

/* ==========================
RESPONSIVE
========================== */

@media(max-width:1000px){

.sidebar{

display:none;

}

.dashboard{

padding:20px;

}

.action-grid{

grid-template-columns:1fr;

}

.full{

grid-column:auto;

}

.welcome{

flex-direction:column;

text-align:center;

gap:25px;

}

.welcome-right{

font-size:80px;

}

}

@media(max-width:600px){

.welcome h1{

font-size:34px;

}

.welcome p{

font-size:17px;

}

.action-card{

padding:18px;

}

.action-card h3{

font-size:22px;

}

.circle{

width:60px;

height:60px;

font-size:28px;

}

.logout-btn{

padding:12px 18px;

}


}
.sidebar.show{
    left:0;
}

@media(max-width:1000px){

.sidebar{

position:fixed;

left:-100%;

top:0;

height:100vh;

z-index:999;

transition:.35s;

}

}

.page{
    display:none;
}

.page.active{
    animation:openPageAnimation .45s ease;
    display: block;
}
#home{
    display:none;
}

#memePage.active,
#chatPage.active,
#notificationPage.active,
#videoMemePage.active,
#savedPage.active,
#loginPage.active,
#signupPage.active{
    display:block;
}

@keyframes openPageAnimation{

    from{
        transform:translateX(40px);
        opacity:0;
    }

    to{
        transform:translateX(0);
        opacity:1;
    }
}

/* ===========================
UPGRADE PAGE
=========================== */

.upgrade-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#111;

    
background:#f5edd7;

background-image:
linear-gradient(rgba(0,0,0,.05) 1px,transparent 1px),
linear-gradient(90deg,rgba(0,0,0,.05) 1px,transparent 1px);
       

    position:relative;

}

.coming-box{

    width:650px;

    text-align:center;

    padding:45px;

    border-radius:25px;

    background:#1e1e1e;

    box-shadow:0 20px 40px rgba(0,0,0,.5);

}

.coming-box h1{

    font-size:45px;

    margin-bottom:20px;

    color:#ff69b4;

}

.coming-box p{

    font-size:20px;

    margin:12px 0;

    color:#ddd;

}

.coming-box h2{

    margin-top:30px;

    margin-bottom:20px;

    color:#ffd54f;

}

.coming-box ul{

    list-style:none;

    padding:0;

}

.coming-box li{

    margin:12px 0;

    font-size:18px;

}

.notify-btn{

    margin-top:30px;

    padding:15px 40px;

    border:none;

    border-radius:15px;

    background:#ff4da6;

    color:white;

    cursor:pointer;

    font-size:18px;

    font-weight:bold;

    transition:.3s;

}

.notify-btn:hover{

    transform:scale(1.05);

    background:#ff1493;

}

.back-btn{

    position:absolute;

    top:20px;

    left:20px;

}