body{

margin:0;

font-family:Arial,sans-serif;

background:#f6f3e5;

background-image:

linear-gradient(rgba(0,0,0,.04) 1px,transparent 1px),

linear-gradient(90deg,rgba(0,0,0,.04) 1px,transparent 1px);

background-size:40px 40px;

}

#home{

display:flex;

min-height:100vh;

}

/* Sidebar */

.sidebar{

width:260px;

background:rgba(255,255,255,.35);

backdrop-filter:blur(18px);

padding:30px;

border-right:1px solid rgba(255,255,255,.5);

box-shadow:4px 0 25px rgba(0,0,0,.08);

min-width: 280px;
}

.brand h2{

margin:0;

font-size:32px;

}

.sidebar ul{

padding:0;

list-style:none;

margin-top:50px;

}

.sidebar li{

padding:18px;

margin-bottom:15px;

border-radius:15px;

cursor:pointer;

transition:.3s;

font-weight:bold;

}

.sidebar li:hover{

background:white;

transform:translateX(8px);

}

.sidebar .active{

background:#7c5cff;

color:white;

}

/* Main */

.dashboard{

flex:1;

padding:40px;
max-width: 1300px;

}

/* Top */

.topbar{

display:flex;

justify-content:flex-end;

margin-bottom:25px;

}

.logout-btn{

background:#ff5f67;

color:white;

border:none;

padding:12px 24px;

border-radius:12px;

cursor:pointer;

}

/* Welcome */

.welcome{

display:flex;

justify-content:space-between;

align-items:center;

padding:35px;

border-radius:25px;

background:rgba(255,255,255,.35);

backdrop-filter:blur(18px);

box-shadow:0 10px 30px rgba(0,0,0,.1);

margin-bottom:35px;

}

.welcome img{

width:150px;

}

.welcome button{

background:linear-gradient(90deg,#6c63ff,#a855f7);

color:white;

border:none;

padding:14px 26px;

border-radius:12px;

cursor:pointer;

margin-top:15px;

}

/* Cards */

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}

.card{

padding: 28px;px;

border-radius:22px;

background: white;
color:#111;
cursor:pointer;

transition:.3s;

backdrop-filter:blur(15px);

box-shadow:0 12px 25px rgba(0,0,0,.08);

}

.card:hover{

transform:translateY(-8px);

}

.card h3{

margin:15px 0 8px;

}

.pink{background:#ffdbe9;}
.blue{background:#d9eeff;}
.yellow{background:#fff1bf;}
.green{background:#d8ffe8;}
.purple{background:#eadcff;}

@media(max-width:900px){

.sidebar{

display:none;

}

.dashboard{

padding:20px;

}

.welcome{

flex-direction:column;
min-height: 220px;
text-align:center;

}

.welcome img{

margin-top:20px;

}

}
.welcome h1{
    color:#111;
    font-size:42px;
    margin-bottom:10px;
}

.welcome p{
    color:#555;
    font-size:18px;
}